Software/.DS_Store
Software/AI_Motion/.DS_Store
Software/AI_Motion/pyproject.toml
Software/AI_Sound/.DS_Store
Software/AI_Sound/pyproject.toml
Software/pyproject.toml
Software/AI_Motion/MotionTracking/Mediapipe/pyproject.toml
Software/AI_Motion/MotionTracking/Yolo/pyproject.toml
/Software/AI_Motion/MocapPlayer/__pycache__
/Software/AI_Motion/MocapPlayer/common/__pycache__
/Software/AI_Sound/AudioAnalysis/__pycache__
/Software/AI_Sound/AudioAnalysis/data
/Software/AI_Sound/AudioAutoencoder/Inference/LatentNavigation/data
*.lock
Software/AI_Sound/AudioAnalysis/.DS_Store
Software/AI_Motion/MotionTracking/Mediapipe/.DS_Store
Software/AI_Sound/StableAudio3/pyproject.toml
/Software/AI_Sound/StableAudio3/__pycache__
/Software/AI_Sound/StableAudio3/stable_audio_3/__pycache__
/Software/AI_Motion/MocapPlayer/common/__pycache__
/Software/AI_Motion/MotionTracking/Mediapipe/PoseEstimation/__pycache__
/Software/AI_Motion/MotionTracking/Yolo/ObjectDetection/__pycache__
Software/AI_Motion/MotionTracking/Yolo/ObjectDetection/models/yolov8l-worldv2.pt
Software/AI_Motion/MotionTracking/Yolo/PoseEstimation/models/yolov8s-pose.pt
Software/AI_Motion/MotionTracking/Yolo/PoseEstimation/MotionBERT/.DS_Store
Software/AI_Motion/MotionTracking/Yolo/PoseEstimation/MotionBERT/ft_h36m.bin
/Software/AI_Motion/MotionTracking/Yolo/PoseEstimation/MotionBERT/lib/model/__pycache__
/Software/AI_Sound/AudioAnalysis/__pycache__
Software/AI_Sound/AudioAutoencoder/Inference/.DS_Store
Software/AI_Sound/AudioAutoencoder/Inference/LatentNavigation/.DS_Store
/Software/AI_Sound/StableAudio3/stable_audio_3/__pycache__
/Software/AI_Sound/StableAudio3/stable_audio_3/data/__pycache__
/Software/AI_Sound/StableAudio3/stable_audio_3/inference/__pycache__
/Software/AI_Sound/StableAudio3/stable_audio_3/models/__pycache__
/Software/AI_Sound/StableAudio3/stable_audio_3/models/lora/__pycache__
