Software/.DS_Store
Software/AI_Motion/.DS_Store
Software/AI_Motion/pyproject.toml
Software/AI_Sound/.DS_Store
Software/AI_Sound/pyproject.toml
Software/pyproject.toml
Software/AI_Motion/MotionTracking/Mediapipe/pyproject.toml
