torch>=2.5.1
argbind>=0.3.2
numpy>=2.1.0
loralib
wavebeat @ git+https://github.com/hugofloresgarcia/wavebeat
-e ./third_party/lac
-e ./audiotools
-e ./src/pyharp
torch_pitch_shift
gradio
pydantic==2.10.6